/* Importação para que as confs se enquadrem no Padrão UTF */
@charset "UTF-8";


/* Importando uma Fonte Externa do Google*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');




/* Importando uma Fonte Interna  (baixada)*/
@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


/* Configuração global (todos os elementos) */
* {
    margin: 0;
    padding: 0;
}


/*Pseudo Variaveis */
:root {
    --cor0:#c5ebd5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5: #063d1e;


    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android';
}


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
 /* Configuração de Emoji para links externos */
a.externo::after {
    content: '\00A0\1F517';
}

 /* Formatação do Cabeçalho */
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

 /* Formatação dos Títulos (h1) do Cabeçalho */
header  > h1 {
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.507);
}

 /* Formatação dos Parágrafos do Cabeçalho */
header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: #fff;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.192);
}

 /* Formatação do Menu de Navegação*/
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.418);
}

 /* Formatação dos Links do Menu de Navegação*/
nav > a {
    text-decoration: none;
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration:  0.5s; /* Duração de transição */
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5)
}

/* Formatação do Conteúdo Principal do Site */
main {
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto; /* Utilizado centralizar os conteúdos em telas maiores */
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ; 
    background-color: white;
    box-shadow: 0px 0px 10px black;
}

/* Formatação do Título (h1) do Conteúdo Principal do Site */
main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
   color:  var(--cor4);
   font-size: 1.3em;
   font-weight: normal;
   background-image: linear-gradient(to right, var(--cor1), transparent);
   font-family: var(--fonte-android);
   text-indent: 8px;
}

main p {
    margin: 15px 0 15px 0; /* Margem padrão de todos os parágrafos*/
    text-align: justify; /* Para alinhar o texto  da esquerda para a direita, e que não fique desalinhado na direita*/
    text-indent: 30px; /* Recuo no inicio de cada paragrafo */
    line-height: 2em; /* Altura entre linhas  */
    font-size: 1em; /* Tamanho da letra */
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

/* formatação do  vídeo */
div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px; /* -20px nas laterais para ele colar na esquerda e 30px para baixo para dar espaçamento do bloco de aside */
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
}


/* Formatação do Bloco de Destaque do Site*/
aside { /* Aside é utilizado para conteúdos periféricos  */
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.280);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px; /* negativo em cima, na direita e na esquerda para dar um espaçamento para fora */
    border-radius: 10px 10px 0px 10px;
}
aside > ul {
    list-style-type: "\2714\00A0\00A0"; /* "\2714" para alterar o tipo de bolinha da linha, "\00A0" para dar um espaço entre eles*. Vale Ressaltar que não funciona em outras navegadores a não ser o google */
    list-style-position: inside; /*para colocar a bolinha dentro do aside*/
    columns: 2;
}

/* Formatação do Rodapé*/
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

/* Formatação dos Links do Rodapé*/
footer > a {
    text-decoration: none;
    color: var(--cor2);
    font-weight:  bolder;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}
